<?php



 ?>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>addjob</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
      crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Add your Project!</h1>
    <form class="" action="addproject.php" method="post">
      <label for="">title:</label>
      <input type="text" name="title" value=""><br>
      <label for="">description:</label>
      <input type="text" name="description" value=""><br>
      <button type="submit" name="button">save</button>

    </form>
  </body>
</html>
