<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>
    <ul>
      <li><a href="PHP/users/add">add Users</li>
      <li><a href="PHP/jobs/add">add Jobs</li>
      <li><a href="PHP/projects/add">add Projects</li>
    </ul>
    <br><br>
    <li><a href="PHP/logo">logout</li>
  </body>
</html>
